In [2]:
list=[1,4,"ameya",3.6]
print(type(list))

<class 'list'>

In [4]:
for i in list:
    print (i)

1
4
ameya
3.6

In [5]:
for e,i in enumerate(list,0):
        print(e," : ",i)

0  :  1
1  :  4
2  :  ameya
3  :  3.6

In [6]:
a=[1,3,5,7,4,65,34,6,4,6,6]
set(a)

{1, 3, 4, 5, 6, 7, 34, 65}

In [7]:
{2,3,2,5,67,4,6,4,5,6,7,4,4}

{2, 3, 4, 5, 6, 7, 67}

In [9]:
d={
    "name":"john",
    "age":20,
    "country":"india"
}
type(d)

dict

In [10]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [11]:
d.values()

dict_values(['john', 20, 'india'])